# Data
*.csv
data/
!data/README.md
!data/train_sample.csv
!data/test_sample.csv

# Models
*.pkl
*.pth

# Virtual Environment
venv/
env/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store